<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado')%>
	<% } else { %>
		<%- include('./partials/header')%>
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/users/login" method="POST" class="login-form">
                <div class="form-login">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                
                <div class="form-login">
                    <label for="contra">Contraseña:</label>
                    <input type="password" id="contra" name="contra" required>
                </div>
				<button type="submit">Login</button>

				<label>
					<input type="checkbox" name="recordarme">
					Recordarme
				  </label>
				
				  <% if (error.length > 0) { %>
                    <p class="error"><%= error %></p>
				<% } %>

				  
            </form>

	<!-- footer -->
	
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>